<div class="container browse">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="list-group">
        <ul class="clearfix">
          <li class="pull-left w-full"
              data-ng-repeat="post in posts">
            <span class="h3">{{post.text | limitTo: 25}}{{post.text.length > 25 ? '...' : ''}}</span>
            <button class="btn btn-danger pull-right"
                    data-ng-click="postDelete(post)">Delete</button>
            <a class="btn btn-primary pull-right" href="#/edit/{{post.$id}}">Edit</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>