<div class="container">
  <div class="row title">
    <div class="col-md-6 col-md-offset-3">
      <form ng-submit="postEdit(selectedPost)">
        <input type="text" class="form-control" placeholder="{{selectedPost.text}}" required
               data-ng-model="selectedPost.text">
        <input type="submit" value="Post" class="btn btn-warning">
      </form>
    </div>
  </div>
</div>